PORT=isi dengan port yang anda inginkan
MONGO_URI=isi dengan database mongodb anda
JWT_SECRET=isi dengan secret key yang anda inginkan
NODE_ENV=isi dengan environment yang anda inginkan (development/production)
CLIENT_URL=isi_dengan_url_front_end